.container
  .row.divider
    .col-md-3.text-center
        img#profile-image(src="/images/khalidAlharbi.jpg" alt="Khalid Alharbi")
        ul#social-links
          li
            a(href="/cv.html" title="CV")
              i(class="fa fa-file-text-o")
          li
            a(href="#{ email }" title="Email")
              i(class="fa fa-envelope")
          li
            a(href="#{ googleScholar }" title="Google Scholar")
              i(class="fa fa-google")
    .col-md-6.text-justify
      h2="Khalid Alharbi"
      .short-bio!=partial("_shared/bio")
    .col-md-3.news-box
      h2="News"
      .news!= partial("_shared/news")
  .row.divider
    h2.box-heading="Selected Projects"
    for project in public.projects._data
      != partial("projects/_project", {"project": project})
  .row
    h2.box-heading="Publications"
  #publications
    for publication, id in public.publications._data
      != partial("publications/_publication", { "id": id, "publication": publication })
  .divider
