.row.publication-item
  .col-md-3
    img(src=publication.thumb, alt=publication.title)
  .col-md-9
    .title=publication.title
    .authors=publication.authors
    .booktitle=publication.booktitle
    if publication.award
      .award.label.label-primary=publication.award
    .btn-group-xs(role="group", aria-label="paper-details")
      if publication.pdf
        a(class="btn btn-default", href="#{ publication.pdf }", title="View pre-print PDF") PDF
      if publication.acm
        a(class="btn btn-default", href="#{ publication.acm }", title="ACM Digital Library") ACM
      if publication.bibtex
        a(class="btn btn-default", data-toggle="collapse", data-target="#bibtex-" + index, title="View BibTex")  BibTex
        .collapse(id="bibtex-" + index)
          .panel.panel-default
            .panel-body!=partial(".." + publication.bibtex)
